amqp==5.3.1
asgiref==3.9.1
billiard==4.2.3
celery==5.5.3
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==45.0.6
debugpy==1.8.16
Django==5.2.5
django-cors-headers==4.7.0
django-filter==25.1 
django-formtools==2.5.1
django-otp==1.6.1
django-phonenumber-field==8.3.0
django-simple-history==3.10.1
django-solo==2.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.10
gunicorn==22.0.0
idna==3.11
inflection==0.5.1
iniconfig==2.1.0
kombu==5.5.4
openpyxl==3.1.5 
packaging==25.0
pillow==11.0.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg==3.2.9
psycopg-binary==3.2.9
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
reportlab==4.0.9
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
stripe==13.0.1
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
